USE [AURA_DB]
GO
/****** Object:  Table [dbo].[MED_APPOINMENT_DETAILS]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MED_APPOINMENT_DETAILS](
	[MAD_APPOINMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAD_FULL_NAME] [nvarchar](255) NULL,
	[MAD_CONTACT] [nvarchar](50) NULL,
	[MAD_PATIENT_NO] [int] NULL,
	[MAD_START_TIME] [time](7) NULL,
	[MAD_END_TIME] [time](7) NULL,
	[MAD_APPOINMENT_DATE] [date] NULL,
	[MAD_DOCTOR] [nvarchar](200) NULL,
	[MAD_EMAIL] [nvarchar](500) NULL,
	[MAD_ALLOCATED_TIME] [time](7) NULL,
	[MAD_STATUS] [nvarchar](1) NULL,
	[MAD_PATIENT_CODE] [nvarchar](10) NULL,
	[MAD_SLOT_ID] [int] NULL,
	[MAD_USER_ID] [nvarchar](7) NULL,
	[MAD_CONFIRMATION_SENT_DATE] [datetime] NULL,
	[MAD_CONFIRMATION_SENT] [bit] NOT NULL,
	[MAD_PAID_STATUS] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAD_APPOINMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MED_APPOINTMENT_USERS]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MED_APPOINTMENT_USERS](
	[MAU_USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAU_EMAIL] [nvarchar](500) NULL,
	[MAU_NIC] [nvarchar](13) NULL,
	[MAU_CONTACT] [nvarchar](13) NULL,
	[MAU_ADDRESS] [nvarchar](500) NULL,
	[MAU_PASSWORD] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAU_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MED_DRUGS_DETAILS]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MED_DRUGS_DETAILS](
	[MDD_PATIENT_CODE] [nvarchar](10) NOT NULL,
	[MDD_SERIAL_NO] [int] NOT NULL,
	[MDD_MATERIAL_CODE] [nvarchar](10) NOT NULL,
	[MDD_QUANTITY] [numeric](10, 2) NULL,
	[MDD_RATE] [numeric](10, 2) NULL,
	[MDD_AMOUNT] [numeric](10, 2) NULL,
	[MDD_DOSAGE] [nvarchar](50) NULL,
	[MDD_TAKES] [nvarchar](50) NULL,
	[MDD_GIVEN_QUANTITY] [numeric](10, 2) NULL,
	[MDD_STATUS] [nvarchar](1) NULL,
	[MDD_CREATED_BY] [nvarchar](10) NULL,
	[MDD_CREATED_DATE] [datetime] NULL,
	[MDD_UPDATED_BY] [nvarchar](10) NULL,
	[MDD_UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [MED_DRUGS_DETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[MDD_PATIENT_CODE] ASC,
	[MDD_SERIAL_NO] ASC,
	[MDD_MATERIAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MED_MATERIAL_CATALOGUE]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MED_MATERIAL_CATALOGUE](
	[MMC_MATERIAL_CODE] [nvarchar](10) NULL,
	[MMC_DESCRIPTION] [nvarchar](1000) NULL,
	[MMC_MATERIAL_SPEC] [nvarchar](1000) NULL,
	[MMC_UNIT] [nvarchar](3) NULL,
	[MMC_REORDER_LEVEL] [numeric](18, 2) NULL,
	[MMC_STATUS] [nvarchar](1) NULL,
	[MMC_CREATED_DATE] [datetime] NULL,
	[MMC_CREATED_BY] [nvarchar](7) NULL,
	[MMC_UPDATED_DATE] [datetime] NULL,
	[MMC_UPDATED_BY] [nvarchar](7) NULL,
	[MMC_RATE] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[med_patient]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[med_patient](
	[mp_patient_id] [varchar](10) NOT NULL,
	[mp_full_name] [varchar](255) NOT NULL,
	[mp_email] [varchar](255) NOT NULL,
	[mp_contact] [varchar](15) NOT NULL,
	[mp_password] [varchar](255) NOT NULL,
	[mp_nic_no] [nvarchar](20) NULL,
	[mp_patient_type] [nvarchar](20) NULL,
	[mp_address] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[mp_patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MED_PATIENTS_DETAILS]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MED_PATIENTS_DETAILS](
	[MPD_PATIENT_CODE] [nvarchar](10) NOT NULL,
	[MPD_PATIENT_NAME] [nvarchar](200) NULL,
	[MPD_PATIENT_TYPE] [nvarchar](1) NULL,
	[MPD_MOBILE_NO] [nvarchar](200) NOT NULL,
	[MPD_NIC_NO] [nvarchar](20) NULL,
	[MPD_PATIENT_REMARKS] [nvarchar](2000) NULL,
	[MPD_ADDRESS] [nvarchar](500) NULL,
	[MPD_CITY] [nvarchar](100) NULL,
	[MPD_GUARDIAN] [nvarchar](200) NULL,
	[MPD_GUARDIAN_CONTACT_NO] [nvarchar](20) NULL,
	[MPD_STATUS] [nvarchar](1) NULL,
	[MPD_CREATED_BY] [nvarchar](50) NULL,
	[MPD_CREATED_DATE] [datetime] NULL,
	[MPD_UPDATED_BY] [nvarchar](50) NULL,
	[MPD_UPDATED_DATE] [datetime] NULL,
	[MPD_BIRTHDAY] [datetime] NULL,
	[MPD_EMAIL] [nvarchar](500) NULL,
	[MPD_PASSWORD] [nvarchar](200) NULL,
	[MPD_PHOTO] [varbinary](max) NULL,
	[MPD_GENDER] [nvarchar](20) NULL,
	[test] [nvarchar](20) NULL,
 CONSTRAINT [MED_PATIENTS_DETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[MPD_PATIENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MED_TIMESLOT]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MED_TIMESLOT](
	[MT_SLOT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MT_SLOT_DATE] [date] NOT NULL,
	[MT_START_TIME] [time](7) NOT NULL,
	[MT_END_TIME] [time](7) NOT NULL,
	[MT_PATIENT_NO] [int] NOT NULL,
	[MT_MAXIMUM_PATIENTS] [int] NULL,
	[MT_DOCTOR] [nvarchar](200) NULL,
	[MT_ALLOCATED_TIME] [time](7) NULL,
	[MT_USER_ID] [nvarchar](7) NULL,
	[MT_TIMESLOT_STATUS] [nvarchar](1) NULL,
	[MT_DELETE_STATUS] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MT_SLOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MED_TREATMENT_DETAILS]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MED_TREATMENT_DETAILS](
	[MTD_PATIENT_CODE] [nvarchar](10) NOT NULL,
	[MTD_SERIAL_NO] [int] IDENTITY(1,1) NOT NULL,
	[MTD_DATE] [datetime] NULL,
	[MTD_DOCTOR] [nvarchar](10) NULL,
	[MTD_COMPLAIN] [nvarchar](2000) NULL,
	[MTD_DIAGNOSTICS] [nvarchar](2000) NULL,
	[MTD_REMARKS] [nvarchar](4000) NULL,
	[MTD_AMOUNT] [numeric](18, 2) NULL,
	[MTD_PAYMENT_STATUS] [nvarchar](1) NULL,
	[MTD_TREATMENT_STATUS] [nvarchar](1) NULL,
	[MTD_SMS_STATUS] [nvarchar](1) NULL,
	[MTD_SMS] [nvarchar](max) NULL,
	[MTD_MEDICAL_STATUS] [nvarchar](1) NULL,
	[MTD_STATUS] [nvarchar](1) NULL,
	[MTD_CREATED_BY] [nvarchar](10) NULL,
	[MTD_CREATED_DATE] [datetime] NULL,
	[MTD_UPDATED_BY] [nvarchar](10) NULL,
	[MTD_UPDATED_DATE] [datetime] NULL,
	[MTD_APPOINMENT_ID] [int] NULL,
	[MTD_TYPE] [nvarchar](30) NULL,
	[MTD_CHANNEL_NO] [int] NULL,
 CONSTRAINT [MED_TREATMENT_DETAILS_NEW_PK] PRIMARY KEY CLUSTERED 
(
	[MTD_PATIENT_CODE] ASC,
	[MTD_SERIAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MED_USER_DETAILS]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MED_USER_DETAILS](
	[MUD_USER_ID] [nvarchar](7) NOT NULL,
	[MUD_PASSWORD] [nvarchar](200) NULL,
	[MUD_USER_TYPE] [nvarchar](7) NOT NULL,
	[MUD_USER_NAME] [nvarchar](100) NULL,
	[MUD_STATUS] [nvarchar](1) NULL,
	[MUD_CREATED_DATE] [datetime] NULL,
	[MUD_CREATED_BY] [nvarchar](7) NULL,
	[MUD_UPDATED_DATE] [datetime] NULL,
	[MUD_UPDATED_BY] [nvarchar](7) NULL,
	[MUD_SPECIALIZATION] [nvarchar](20) NULL,
	[MUD_PHOTO] [varbinary](max) NULL,
	[MUD_CONTACT] [nvarchar](200) NULL,
	[MUD_EMAIL] [nvarchar](200) NULL,
	[MUD_NIC_NO] [nvarchar](20) NULL,
	[MUD_FULL_NAME] [nvarchar](100) NULL,
 CONSTRAINT [MED_USER_DETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[MUD_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MED_USER_TYPES]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MED_USER_TYPES](
	[MUT_USER_TYPE] [nvarchar](7) NOT NULL,
	[MUT_DESCRIPTION] [nvarchar](100) NULL,
	[MUT_STATUS] [nvarchar](1) NULL,
	[MUT_CREATED_DATE] [datetime] NULL,
	[MUT_CREATED_BY] [nvarchar](7) NULL,
	[MUT_UPDATED_DATE] [datetime] NULL,
	[MUT_UPDATED_BY] [nvarchar](7) NULL,
 CONSTRAINT [MED_USER_TYPES_PK] PRIMARY KEY CLUSTERED 
(
	[MUT_USER_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MED_APPOINMENT_DETAILS] ADD  DEFAULT ((0)) FOR [MAD_CONFIRMATION_SENT]
GO
ALTER TABLE [dbo].[MED_APPOINMENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_APPOINMENT] FOREIGN KEY([MAD_PATIENT_CODE])
REFERENCES [dbo].[MED_PATIENTS_DETAILS] ([MPD_PATIENT_CODE])
GO
ALTER TABLE [dbo].[MED_APPOINMENT_DETAILS] CHECK CONSTRAINT [FK_APPOINMENT]
GO
ALTER TABLE [dbo].[MED_DRUGS_DETAILS]  WITH CHECK ADD  CONSTRAINT [MED_DRUGS_DETAILS_FK1] FOREIGN KEY([MDD_PATIENT_CODE], [MDD_SERIAL_NO])
REFERENCES [dbo].[MED_TREATMENT_DETAILS] ([MTD_PATIENT_CODE], [MTD_SERIAL_NO])
GO
ALTER TABLE [dbo].[MED_DRUGS_DETAILS] CHECK CONSTRAINT [MED_DRUGS_DETAILS_FK1]
GO
ALTER TABLE [dbo].[MED_TREATMENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [appoinment_fk] FOREIGN KEY([MTD_APPOINMENT_ID])
REFERENCES [dbo].[MED_APPOINMENT_DETAILS] ([MAD_APPOINMENT_ID])
GO
ALTER TABLE [dbo].[MED_TREATMENT_DETAILS] CHECK CONSTRAINT [appoinment_fk]
GO
ALTER TABLE [dbo].[MED_TREATMENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [MED_TREATMENT_DETAILS_NEW_FK] FOREIGN KEY([MTD_PATIENT_CODE])
REFERENCES [dbo].[MED_PATIENTS_DETAILS] ([MPD_PATIENT_CODE])
GO
ALTER TABLE [dbo].[MED_TREATMENT_DETAILS] CHECK CONSTRAINT [MED_TREATMENT_DETAILS_NEW_FK]
GO
ALTER TABLE [dbo].[MED_USER_DETAILS]  WITH CHECK ADD  CONSTRAINT [MED_USER_DETAILS_FK] FOREIGN KEY([MUD_USER_TYPE])
REFERENCES [dbo].[MED_USER_TYPES] ([MUT_USER_TYPE])
GO
ALTER TABLE [dbo].[MED_USER_DETAILS] CHECK CONSTRAINT [MED_USER_DETAILS_FK]
GO
/****** Object:  StoredProcedure [dbo].[GetALLPatients]    Script Date: 01/14/2026 10:51:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetALLPatients]
AS
BEGIN
SELECT * FROM MED_PATIENTS_DETAILS;
END;
GO
